body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
  list-style: none;
}

noscript {
  display: block;
  font-size: 130%;
  width: 20em;
  margin: 1.6em;
  border: 3px solid #880000;
}

noscript h1 {
  font-size: 130%;
  background-color: #880000;
  color: #ffffff;
  text-align: center;
  padding: 4px;
}

noscript p {
  margin: 1em;
}

#tks-web {
  margin: 1em;
}

.tksweb-app ul.week-hdr {
  font-size: 16px;
  height: 20px;
  width: 700px;
  padding-left: 40px;
}

.tksweb-app ul.week-hdr li {
  float: left;
  width: 98px;
  height: 18px;
  text-align: center;
  border: 1px solid #999;
  color: #666666;
}

.tksweb-app div.week-hours {
  position: relative;
  width: 760px;
  height: 500px;
  overflow: auto;
}

.tksweb-app ul.hour-labels {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}

.tksweb-app ul.hour-labels li {
  width: 39px;
  padding: 0 1px 0 0;
  height: 48px;
  text-align: right;
  background-color: #ffffff;
  color: #666666;
}

.tksweb-app .activities {
  position: absolute;
  left: 40px;
  width: 700px;
  background-image: url(images/hour-stripe.png);
}

.tksweb-app .cursor {
  position: absolute;
  border: 1px dashed #ff0000;
}

.tksweb-app .tooltip {
  position: absolute;
  border: 1px solid #999999;
  background-color: #fff766;
  color: #333333;
  padding: 1px 2px;
  font-size: 12px;
  z-index: 999;
}

.tksweb-app div.activity {
  font-size: 10px;
  padding: 0 1px;
  position: absolute;
  width: 97px;
  border: 1px solid #ddd;
  background-image: url(images/activity-bg-yellow.jpg);
  z-index: 1;
}

.tksweb-app div.activity:hover {
  border: 1px solid #aaa;
  cursor: move;
  z-index: 200;
}

.tksweb-app div.activity p {
  height: 100%;
  overflow: hidden;
}

.tksweb-app div.activity:hover div.ui-resizable-handle {
  background-image: url(images/handle.png);
}

.tksweb-app div.activity div.ui-resizable-n,
.tksweb-app div.activity div.ui-resizable-s {
  height: 5px;
}

.tksweb-app div.activity.selected {
  border: 1px dashed #ff0000;
  z-index: 200;
}

body .ui-widget {
  font-size: 14px;
}

div.tksweb-activity-dlg {
  font-size: 14px;
}

div.tksweb-activity-dlg label {
  display: block;
  margin: 0.5em 0 2px; 0;
}

div.tksweb-activity-dlg div.act-wr {
  float: left;
}

div.tksweb-activity-dlg div.act-hr {
  float: left;
  margin-left: 60px;
}

div.tksweb-activity-dlg div.act-dc {
  clear: left;
  padding-top: 0.5em;
}

div.tksweb-activity-dlg div.act-wr input {
  width: 6em;
}

div.tksweb-activity-dlg div.act-hr input {
  width: 6em;
}

div.tksweb-activity-dlg div.act-dc input {
  width: 320px;
}

