[%
    USE format;
    wr_num = format('%-7u');
    wr_dur = format('%5.2f');
-%]
# Export from TKSWeb for [% wr_system %], month starting: [% month_start %]

[% FOREACH day = days -%]
[% day.date %] # [% day.dow %]
[%   FOREACH act = day.activities -%]
[%-     wr_num(act.wr_number) %] [% wr_dur(act.duration) %]  [% act.description %]
[%   END %]
[% END %]
