
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
  list-style: none;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form.login {
  width: 16em;
  padding: 20px;
  margin: 130px auto 50px auto;
  color: #444444;
  border-radius: 3px;
  box-shadow: 1px 1px 6px 4px rgba(100, 100, 100, 0.5);
}

form.login h1 {
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  margin: 0 0 1.5em 0;
}

form.login label {
  display: block;
  width: 100%;
  margin: 0.6em 0 0.2em 0;
}

form.login input.text,
form.login input.password {
  display: block;
  width: 90%;
  font-size: 110%;
  padding: 4px 6px;
}

form.login input.submit {
  font-size: 110%;
  margin: 1em 30%;
  padding: 0.2em 1em;
}

form.login p {
  text-align: center;
}

p.pw-reset {
  font-size: 90%;
}

/* ######################################################## */

.week-view {
  margin: 0;
  padding: 0;
  border: 1px solid #eeeeee;
  position: relative;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.week-view .hour-labels {
  position: absolute;
  font-size: 14px;
  border-top: 26px solid #dddddd;
  overflow: hidden;
  z-index: 20;
}

.week-view .hour-labels ul {
  position: absolute;
  background-color: #777777;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;
  white-space: nowrap;
}

.week-view .hour-labels li {
  color: #dddddd;
  border: none;
  text-align: center;
  height: 48px;
  margin: 0;
  padding: 0;
}

.week-view .hour-labels li:first-child {
  height: 39px;
  border-top: 1px solid #dddddd;
}

.week-view .day-labels {
  position: absolute;
  font-size: 14px;
  border-left: 50px solid #777777;
  overflow: hidden;
  z-index: 20;
}

.week-view .day-labels ul {
  position: absolute;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.week-view .day-labels li {
  float: left;
  background-color: #777777;
  color: #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  width: 198px;
  height: 100%;
  margin: 0;
  padding: 4px 0;
}

.week-view .activities {
  position: absolute;
  background-image: url(../images/bands.png);
  border-left: 50px solid white;
  border-top: 28px solid white;
}

.week-view .cursor {
  position: absolute;
  border: 1px dashed #ff0000;
  z-index: 10;
}

.week-view .cursor.udraggable-dragging {
  box-shadow: 1px 1px 6px 4px rgba(100, 100, 100, 0.5);
}

.cursor .resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 11px;
  width: 12px;
  background-image: url(../images/resize-handle-bg.png);
  background-repeat: no-repeat;
  cursor: s-resize;
}

.cursor.selection .resize-handle {
  display: block;
}

.touch .cursor .resize-handle {
  position: absolute;
  top: 0;
  right: -1px;
  display: none;
  width: 60px;
  height: 56px;
  background-image: url(../images/resize-handle-bg-touch.png);
  background-repeat: no-repeat;
  cursor: s-resize;
}

.touch .cursor.selection .resize-handle {
  display: block;
}

.cursor .duration,
.cursor .start-time {
  position: absolute;
  left: -1px;
  display: none;
  border: none;
  border-radius: 5px;
  padding: 2px 6px;
  background-color: #444444;
  color: #eeeeee;
  font-size: 12px;
}

.cursor .start-time {
  top: -8px;
}

.cursor .duration {
  bottom: -8px;
}

.cursor.resizing .duration,
.cursor.udraggable-dragging .start-time {
  display: block;
}

.total-hours {
  position: absolute;
  right: 10px;
  bottom: 4px;
  color: #eeeeee;
  font-family: arial,sans-serif;
  font-size: 36px;
  font-weight: bold;
  opacity: 0.5;
  z-index: 50;
  text-shadow: 0 0 6px #333333;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.menu .marker {
  display: block;
  background-color: #777777;
  color: #dddddd;
  width: 50px;
  height: 26px;
  text-align: center;
}

.menu:hover .marker {
  background-color: #aaaaaa;
  color: #ffffff;
}

.menu ul {
  display: none;
}

.menu:hover ul {
  display: block;
  background-color: #aaaaaa;
}

.menu li {
  padding: 0;
  margin 0;
}

.menu li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #ffffff;
}

.menu li:hover a {
  background-color: #dddddd;
  color: #333333;
}

.menu .hot-key {
  float: right;
}

.menu .icon {
  display: inline-block;
  width: 1em;
  font-size: 10px;
  text-align: center;
  padding: 0 8px 0 0;
  position: relative;
  top: -2px;
}


.activity {
  position: absolute;
  width: 198px;
  border: 1px solid #cccccc;
  background-color: #ffffcc;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0, rgba(255,255,255,0) 40px);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0,rgba(255,255,255,0) 40px);
}

.activity,
.activity-shadow {
  font-size: 13.5px;
  overflow: hidden;
}

.activity-shadow {
  height: 100%;
}

.activity.selected {
  z-index: 5;
}

.activity.selected * {
  visibility: hidden;
}

.activity-shadow.dirty,
.activities .activity.dirty {
  opacity: 0.5;
}

.activities .activity.no-wr {
  background-color: #ffddcc;
}

.activity p,
.activity-shadow p {
  padding: 2px 4px;
  cursor: default;
}

.activity p a,
.activity-shadow p a {
  color: #000000;
}

.activity:hover p a,
.cursor:hover p a {
  color: #0000ff;
  text-decoration: underline;
}

.activity p em,
.activity-shadow p em {
  color: #777777;
}

.activity.cc0 { background-color: #ffffcc; }
.activity.cc1 { background-color: #eeffe4; }


/* ####################  Dimensions  ###################### */

.day-labels {
  height: 26px;
  width: 1400px;
}

.hour-labels {
  height: 1152px;
  width: 50px;
}

.activities {
  width: 1400px;
  height: 1152px;
}

.activity {
  width: 198px;
}


/* ###############  Activity Edit Dialog  ################# */

body .ui-widget {
  font-size: 14px;
}

.tksweb-activity-dialog {
  font-size: 14px;
  padding: 0 4px 0 0;
}

.tksweb-activity-dialog label {
  display: block;
  margin: 0.5em 0 2px; 0;
}

.tksweb-activity-dialog div.activity-wr {
  float: left;
}

.tksweb-activity-dialog div.activity-hr {
  float: left;
  margin-left: 60px;
}

.tksweb-activity-dialog div.activity-dc {
  clear: left;
  padding-top: 0.5em;
}

.tksweb-activity-dialog div.activity-wr input {
  width: 6em;
}

.tksweb-activity-dialog div.activity-hr input {
  width: 6em;
}

.tksweb-activity-dialog div.activity-dc input {
  width: 100%;
}

input.save {
  position: absolute;
  height: 0px;
  width: 0px;
  border: none;
  padding: 0px;
}


/* ###############  Help page ############### */

.help-content {
  width: 700px;
  padding: 1em;
  margin: 1.8em auto;
  line-height: 1.3;
  color: #333333;
  overflow: auto;
}

@media all and (max-width: 699px) {
  .help-content {
    width: 90%;
  }
}

.help-content h1 {
  text-align: center;
  font-size: 150%;
  color: #969612;
  margin: 0.2em 0 0.6em 0;
}

.help-content h2 {
  font-size: 130%;
  color: #969612;
  margin: 1em 0 0 0;
}

.help-content p {
  margin: 0 0 1.4em 0;
}

.help-content ul {
  margin: 1.0em;
}

.help-content li {
  padding: 0 0 0 0.2em;
  margin: 0.3em 1.2em;
  list-style: disc;
}

.help-content .api-key {
  color: #cc1717;
}

.info {
  background-color: #D9EDF7;
  color: #3A87AD;
  border: 1px solid #BCE8F1;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.warning {
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 4px 4px 4px 4px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

strong {
  font-weight: bold;
}

p code {
  font-family: monospace;
  font-size: 114%;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0px 3px;
}

/* ###############  Tweak jQueryUI Defaults ############### */

body .ui-dialog {
  box-shadow: 0 0 20px 4px #555555;
}

body .ui-dialog .ui-dialog-buttonpane {
  padding: 0 6px 0 0;
}

body .ui-widget-overlay {
  opacity: 0.5;
}

